.navbar {
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 6rem;
    border-radius: 3rem;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease-in-out, transform 0.2s;
}

.desktopMenuListItem:hover {
    color: yellow;
    transform: translateY(-3px);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.mobMenu {
    display: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    object-fit: contain;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0.8;
}

.mobMenu:hover {
    transform: rotate(90deg) scale(1.1);
    opacity: 1;
}


.navMenu {
    position: absolute;
    top: 5rem;
    /* right: 2rem; */
    right: 0; /* Align with the right edge */
    left: auto; /* Ensure it's not stretching */
    text-align: right; /* Align text to the right */
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 0.4rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
}

.navMenu.show {
    transform: scaleY(1);
}

.listItem {
    color: white;
    padding: 0.8rem 2rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
    border-radius: 0.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.listItem:hover {
    background: yellow;
    color: black;
    transform: scale(1.05);
}



@media screen and (max-width: 908px) {
    .desktopMenu, 
    .desktopMenuImg, 
    .desktopMenuBtn, 
    .logo {
        display: none;
    }
    .mobMenu {
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
    }

}
